node_modules/
.env
*.db
*.db-wal
*.db-shm
*.sqlite
*.sqlite3
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
weather_engine/scipts/*.bin
weather_engine/scripts/*.txt
weather_engine/scripts/data*
